/* styles.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo personalizado para os botões */
.btn-primary{
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.modal{
  width :300px;
}
.modal-content{
  width: 300px;
}
.list-group-item:hover{
  background-color: rgba(59,57,57,0.164)!important;

}
