<form (ngSubmit)="registerPessoa(pessoaData)">
  <body>
  <div class='container'>
    <div class='card'>
      <h1> Cadastrar </h1>

      <div class="label-float">
        <input type="text" id="nome" placeholder="" name="nome" [(ngModel)]="pessoaData.nome" required>
        <label id="labelNome" for="nome">Nome</label>
      </div>

      <div class="label-float">
        <input type="text" id="cpf" placeholder=" " name="cpf" [(ngModel)]="pessoaData.cpf" required>
        <label id="labelCPF" for="cpf">CPF</label>
      </div>

      <div class="select-tipo">
        <select name="tipo" id="tipo"  [(ngModel)]="pessoaData.tipo" required>
          <option value="profissional">Profissional</option>
          <option value="alunos">Aluno</option>
          <option value="responsavel">Responsável</option>
        </select>
      </div>

      <!--
      <div class="mb-3">
        <label for="formFileSm" class="form-label"></label>
        <input class="form-control form-control-sm" id="formFileSm" type="file" (change)="onFileSelected($event)">
      </div>
       -->

      <div class="message-danger hidden " id="message-danger">
        Os campos não foram preenchidos corretamente. Por favor tente outra vez.
      </div>

      <button type="submit">Salvar</button>

    </div>
  </div>

  </body>
</form>
